* 
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

a 
{
    color: rgb(121, 166, 115);
    text-decoration:dashed;
    font-weight: 500;
    font-size: 20px;
}

a:hover
 {
    text-decoration: underline;
 }

.perant a:hover 
{
    color: #006400;
}

.item-img img 
{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;

}

img:hover
{
    scale: 1.1;

}

.perant 
{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 30px;
}

.item-img
{
  margin: 20px;
}

.item-title p
{
    padding: 5px;
    margin: 5px;
}

.nav
{
    background-color: rgb(24, 86, 30);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family:'Courier New';
}

.nav p,i
{
    color:grey;
    font-size: 36px;
    text-align: center;
    margin-right: 15px;
    
}

.item-title
{
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 3px 4px #fff;

}

.back
 {
text-align: center;
margin-top: 20px;
    
}

.back button
{
    padding: 10px;
    background-color: #143a14;
    border: gray 3px solid;
}

